<!DOCTYPE html>
<html>
<head>
	<title>Cutoff calc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app">
		<div class="container">

			<div class="boxes">
				<div class="offsetResistor">
					<label for="offsetResistor">Offset resistor:</label>
					<div class="flex">
						<input id="offsetResistor" type="number" min="0" v-model="offsetResistor.value"/>
						<select v-model:number="offsetResistor.multiplier">
							<option v-for="multiplier in multipliers" v-bind:value="multiplier.value">{{ multiplier.name }}Ω</option>
						</select>
					</div>
				</div>
				<div class="potentiometer">
					<label for="potentiometer">Potentiometer:</label>
					<div class="flex">
						<input id="potentiometer" type="number" min="0" v-model="potentiometer.value"/>
						<select v-model:number="potentiometer.multiplier">
							<option v-for="multiplier in multipliers" v-bind:value="multiplier.value">{{ multiplier.name }}Ω</option>
						</select>
						<select v-model="potentiometerType">
							<option value="lin">Linear</option>
							<option value="log">Logarithmic</option>
						</select>
					</div>
				</div>
				<div class="capacitor">
					<label for="capacitor">Capacitor:</label>
					<div class="flex">
						<input id="capacitor" type="number" min="0" v-model="capacitor.value"/>
						<select v-model:number="capacitor.multiplier">
							<option v-for="multiplier in multipliers" v-bind:value="multiplier.value">{{ multiplier.name }}F</option>
						</select>
					</div>
				</div>
			</div>
			<div class="result">
				<div class="flex">
					<div><span>Minimum: </span>{{ getSuffixValue(cutoff.maximum) }}Hz</div>
					<div><span>Current: </span>{{ getSuffixValue(cutoff.current) }}Hz</div>
					<div><span>Maximum: </span>{{ getSuffixValue(cutoff.minimum) }}Hz</div>
				</div>
				<input id="potentiometer" type="range" min="0" max="100" v-model="potentiometer.position" class="reversed" />
			</div>
		</div>


	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="script.js"></script>
</body>
</html>
