<!DOCTYPE html>
<html>
<head>
	<title>Cutoff calc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app">
		<div class="flex">
		<div>
			<p>Resistor</p>
			<div>
				<input type="radio" id="resistorTypeFixed" v-model="resistorType" name="resistorType" value="fixed">
				<label for="resistorTypeFixed">Fixed</label>
			</div>
			<div>
				<input type="radio" id="resistorTypePotentiometer" v-model="resistorType" name="resistorType" value="potentiometer">
				<label for="resistorTypePotentiometer">Potentiometer</label>
			</div>
			<div>
				<label for="resistor">Value:</label>
				<input id="resistor" type="number" v-model="resistor.value"/>
				<select v-model:number="resistor.multiplier">
					<option v-for="multiplier in multipliers" v-bind:value="multiplier.value">{{ multiplier.name }}Ω</option>
				</select>
			</div>
			

			<div v-if="resistorType == 'potentiometer'">
				<div>
					<input type="radio" id="potentiometerTypeLinear" v-model="potentiometerType" name="potentiometerType" value="lin">
					<label for="potentiometerTypeLinear">Linear</label>
				</div>
				<div>
					<input type="radio" id="potentiometerTypeLogarithmic" v-model="potentiometerType" name="potentiometerType" value="log">
					<label for="potentiometerTypeLogarithmic">Logarithmic</label>
				</div>

				<input id="potentiometer" type="range" min="0" max="100" v-model="potentiometer.position"/>
				{{ getSuffixValue(resistorValue) }}Ω
			</div>
			
		</div>


		<div>
			<p>Capacitor</p>
			<label for="capacitor">Value:</label>
			<input id="capacitor" type="number" v-model="capacitor.value"/>
			<select v-model:number="capacitor.multiplier">
				<option v-for="multiplier in multipliers" v-bind:value="multiplier.value">{{ multiplier.name }}F</option>
			</select>
		</div>
	</div>
		<div class="result">
			<span>{{ cutoff }}Hz</span>
		</div>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="script.js"></script>
</body>
</html>
