* {
	box-sizing: border-box;
}
body {
	font-family: arial, sans-serif;
	font-size: 22px;
	background-color: #f9f9f9;
	margin: 0;
}
.container {
	margin: auto;
}
@media only screen and (min-width: 850px){
	.container {
		max-width: 850px;
		margin: auto;
	}
}
.flex{
	display: flex;
}
.boxes{
}
.boxes > div {
	padding: 16px;
	width: 100%;
	margin: 8px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.37);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.37);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.37);
	border-radius: 2px;
}

label {
	display: inline-block;
}
input[type='number'] {
	max-width: 180px;
	font-size: 25px;
	height: 32px;
	border: 1px solid #aaa;
	border-radius: 4px;
	font-family: arial, sans-serif;
	padding: 0 6px;
}
input[type='range']{

}
input[type='range'].reversed{
	direction: rtl;
}
select {
	font-size: 25px;
	height: 32px;
	border-radius: 4px;
	font-family: arial, sans-serif;
	float: right;
	border: 1px solid #aaa;
}
#app {
	margin: auto;
}
.result {
	text-align: center;
	font-size: 40px;
}
.result .flex > div {
	width: 100%;
}
.result .flex > div span{
	display: block;
	font-size: 18px;
}
