* {
	box-sizing: border-box;
}
body {
	font-family: arial, sans-serif;
	font-size: 30px;
}
div {
	margin-top: 16px;
}
label {
	display: inline-block;
	width: 150px;
}
input {
	width: calc(100% - 80px);
	font-size: 30px;
	height: 41px;
	border: 1px solid #aaa;
	border-radius: 4px;
	font-family: arial, sans-serif;
	padding: 0 6px;
}
select {
	width: 80px;
	font-size: 30px;
	height: 41px;
	border-radius: 4px;
	font-family: arial, sans-serif;
	float: right;
	border: 1px solid #aaa;
}
#app {
	padding: 8px 16px;
	max-width: 400px;
	margin: auto;
}
.result {
	text-align: center;
	font-size: 40px;
}
